$font-family: 'Lato', sans-serif;
$main-color: #5dc176;
$dark-green: #4b8765;
$light-grey: #aaa;
$dark-grey: #333;
$grey: #555;
$button-border: solid 1px;
$radius: 25px;
$shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);;