.cart {
    margin: 100px auto 250px;
    max-width: 800px;
}

.cart h3 {
    margin: 100px 0 150px;
}

.cart-list {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $light-grey;
}

.cart-list .item p {
    display: inline-block;
}

.cart-list .item span {
    position: absolute;
    right: 0;
}

.cart-list .item span .delete {
    border: none;
    font-size: 20px;
    padding: 0 5px;
    color: #ff4d4d;

    &:hover {
        cursor: pointer;
    }
}

.total {
    margin: 20px 0;
}

.total div{
    display: block;
}

.total .order {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid $main-color;
    color: $main-color;

    &:hover {
        border: 1px solid $main-color;
        color: white;
        background-color: $main-color;
        transition: 0.2s;
        cursor: pointer; 
    }
}