.cards {
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.card {
    display: inline-block;
    width: 100%;
    margin: 0 5px;
}

.card img {
    background-size: cover;
    width: 100%;
    height: 300px;
}

.card p {
    margin-top: 20px;
}