.footer {
    margin: 0;
    padding: 60px 0 20px;
    width: 100%;
    background-color: $dark-grey;
  
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    ul {
        flex-basis: 16em;
        padding: 0;
        text-align: center;
    }
  
    li {
        display: block;
        line-height: 1.5em;
        list-style: none;
        text-align: center;
    }

    li h6 {
        margin-bottom: 10px;
        color: $grey;
    }

    .info li p {
        color: $light-grey;
        text-align: center;
    }
  
    li a {
        text-decoration: none;
        color: $light-grey;
        &:hover {
            color: #eee;
        }
    }

    .footer-login {
        color: $grey;

        input {
            display: block;
            margin-bottom: 5px;
            padding: 8px 16px;
            width: 300px;
            border: none;
            border-radius: 0px;
        }

        input[type= button] {
            background-color: $main-color;
            color: white;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: white;
                color: $main-color;
                transform: translateY(0px);
                transition: 0.2s;
            }
        }
    }


    hr {
        margin: 40px auto 10px;
        width: 300px;
        height: 2px;
        border: none;
        background-color: $grey;
    }
  
    p {
        margin: 5px auto;
        text-align: center;
        color: $grey;
    }
  }
  