html { 
   scroll-behavior: smooth;
}

.hero {
    height: 80vh;
}

.home-hero {
    background: url("https://images.pexels.com/photos/1389102/pexels-photo-1389102.jpeg?cs=srgb&dl=blur-curly-hair-facial-expression-1389102.jpg&fm=jpg") center center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.opacity {
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero-title {
    padding-top: 30vh;
    text-align: center;
    color: white;
}

.hero-title p {
    margin-top: 10px;
    font-size: 20px;
} 

@media only screen and (max-width: 900px) {
    .home-hero {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
}