nav {
    position: relative;
    padding: 15px 30px;
}

li {
    display: inline-block;
}

nav li a {
    padding: 5px 10px;
    font-size: 16px;
    color: $main-color;

    &:hover {
        border-bottom: solid 2px $main-color;
        transition: 0.2s;
    }
}

.white li a {
    color: white;

    &:hover {
        color: #ddd;
        border-bottom: solid 2px #aaa;
    }
}

.white .active {
    border-bottom: solid 2px white;
}

.active {
    border-bottom: solid 2px $main-color;
}

.left-side, .right-side {
    display: inline-block;
    position: absolute;
}

.right-side {
    position: absolute;
    right: 20px;

    a, p {
        color: $main-color;
        padding: 0 5px;
        font-size: 18px;
    }
}

.white .right-side a, .white .right-side p {
    color: white;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    display: none;
}

.container-bar {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: $main-color;
    margin: 8px 0;
    transition: 0.2s;
}

.white .bar1, .white .bar2, .white .bar3 {
    background-color: white;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ ul .left-side{
    display: block;
}

@media only screen and (max-width: 900px) {
    ul .left-side {
        display: none;
    }

    ul .left-side li {
        width: 80%;
        margin-bottom: 0;
        padding: 12px 20px;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .white ul .left-side li {
        background-color: rgba(80, 80, 80, 0.9);
    }

    ul .left-side li, .left-side li a {
        max-width: 800px;
        transition: 0.2s;
    }

    .navbar .show-menu {
        display: block;
    }

    .menu .right-side p, .white .menu .right-side p{
        margin-top: -45px;
        font-size: 20px;
    }

    .menu .right-side .login {
        position: absolute;
        top: -42px;
        right: 0;
    }
}