.title {
    margin-top: 100px;
    text-align: center;
    color: $grey;
}

.testimonials {
    margin: 0 0 180px;
    display: flex;
}

.testimonial {
    margin: 20px 25px;
    padding: 10px 15px;

    .avatar {
        margin: 15px auto;
        width: 150px;
        height: 150px;
    }

    .avatar img {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .description {
        color: $grey;
        font-style: italic;
    }

    .name {
        margin-top: 10px;
        color: $main-color;
    }
}

@media only screen and (max-width: 900px) {
    .testimonials {
        display: block;
    }
  }