* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
}

nav {
  position: relative;
  padding: 15px 30px;
}

li {
  display: inline-block;
}

nav li a {
  padding: 5px 10px;
  font-size: 16px;
  color: #5dc176;
}
nav li a:hover {
  border-bottom: solid 2px #5dc176;
  transition: 0.2s;
}

.white li a {
  color: white;
}
.white li a:hover {
  color: #ddd;
  border-bottom: solid 2px #aaa;
}

.white .active {
  border-bottom: solid 2px white;
}

.active {
  border-bottom: solid 2px #5dc176;
}

.left-side, .right-side {
  display: inline-block;
  position: absolute;
}

.right-side {
  position: absolute;
  right: 20px;
}
.right-side a, .right-side p {
  color: #5dc176;
  padding: 0 5px;
  font-size: 18px;
}

.white .right-side a, .white .right-side p {
  color: white;
}

.show-menu {
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding: 10px 0;
  display: none;
}

.container-bar {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #5dc176;
  margin: 8px 0;
  transition: 0.2s;
}

.white .bar1, .white .bar2, .white .bar3 {
  background-color: white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ ul .left-side {
  display: block;
}

@media only screen and (max-width: 900px) {
  ul .left-side {
    display: none;
  }

  ul .left-side li {
    width: 80%;
    margin-bottom: 0;
    padding: 12px 20px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .white ul .left-side li {
    background-color: rgba(80, 80, 80, 0.9);
  }

  ul .left-side li, .left-side li a {
    max-width: 800px;
    transition: 0.2s;
  }

  .navbar .show-menu {
    display: block;
  }

  .menu .right-side p, .white .menu .right-side p {
    margin-top: -45px;
    font-size: 20px;
  }

  .menu .right-side .login {
    position: absolute;
    top: -42px;
    right: 0;
  }
}
html {
  scroll-behavior: smooth;
}

.hero {
  height: 80vh;
}

.home-hero {
  background: url("https://images.pexels.com/photos/1389102/pexels-photo-1389102.jpeg?cs=srgb&dl=blur-curly-hair-facial-expression-1389102.jpg&fm=jpg") center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-title {
  padding-top: 30vh;
  text-align: center;
  color: white;
}

.hero-title p {
  margin-top: 10px;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .home-hero {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
}
.cards {
  width: 100%;
  display: flex;
  margin-top: 80px;
}

.card {
  display: inline-block;
  width: 100%;
  margin: 0 5px;
}

.card img {
  background-size: cover;
  width: 100%;
  height: 300px;
}

.card p {
  margin-top: 20px;
}

.title {
  margin-top: 100px;
  text-align: center;
  color: #555;
}

.testimonials {
  margin: 0 0 180px;
  display: flex;
}

.testimonial {
  margin: 20px 25px;
  padding: 10px 15px;
}
.testimonial .avatar {
  margin: 15px auto;
  width: 150px;
  height: 150px;
}
.testimonial .avatar img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial .description {
  color: #555;
  font-style: italic;
}
.testimonial .name {
  margin-top: 10px;
  color: #5dc176;
}

@media only screen and (max-width: 900px) {
  .testimonials {
    display: block;
  }
}
.footer {
  margin: 0;
  padding: 60px 0 20px;
  width: 100%;
  background-color: #333;
}
.footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer ul {
  flex-basis: 16em;
  padding: 0;
  text-align: center;
}
.footer li {
  display: block;
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
.footer li h6 {
  margin-bottom: 10px;
  color: #555;
}
.footer .info li p {
  color: #aaa;
  text-align: center;
}
.footer li a {
  text-decoration: none;
  color: #aaa;
}
.footer li a:hover {
  color: #eee;
}
.footer .footer-login {
  color: #555;
}
.footer .footer-login input {
  display: block;
  margin-bottom: 5px;
  padding: 8px 16px;
  width: 300px;
  border: none;
  border-radius: 0px;
}
.footer .footer-login input[type=button] {
  background-color: #5dc176;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.footer .footer-login input[type=button]:hover {
  background-color: white;
  color: #5dc176;
  transform: translateY(0px);
  transition: 0.2s;
}
.footer hr {
  margin: 40px auto 10px;
  width: 300px;
  height: 2px;
  border: none;
  background-color: #555;
}
.footer p {
  margin: 5px auto;
  text-align: center;
  color: #555;
}

.cart {
  margin: 100px auto 250px;
  max-width: 800px;
}

.cart h3 {
  margin: 100px 0 150px;
}

.cart-list {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}

.cart-list .item p {
  display: inline-block;
}

.cart-list .item span {
  position: absolute;
  right: 0;
}

.cart-list .item span .delete {
  border: none;
  font-size: 20px;
  padding: 0 5px;
  color: #ff4d4d;
}
.cart-list .item span .delete:hover {
  cursor: pointer;
}

.total {
  margin: 20px 0;
}

.total div {
  display: block;
}

.total .order {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid #5dc176;
  color: #5dc176;
}
.total .order:hover {
  border: 1px solid #5dc176;
  color: white;
  background-color: #5dc176;
  transition: 0.2s;
  cursor: pointer;
}

.presentation {
  margin: 100px auto 170px;
}
.presentation h1 {
  text-align: center;
  color: #555;
}
.presentation p {
  margin: 15px auto;
  padding: 0 10px;
  max-width: 900px;
  font-size: 18px;
  color: #555;
}

.about-products {
  display: flex;
  background-color: #5dc176;
  color: white;
}
.about-products .veg-image {
  width: 100%;
  height: 300px;
}
.about-products .vegs {
  background: url("https://image.flaticon.com/icons/svg/498/498229.svg") center center no-repeat;
  background-size: 150px;
}
.about-products .fruits {
  background: url("https://image.flaticon.com/icons/svg/1574/1574824.svg") center center no-repeat;
  background-size: 150px;
}
.about-products .desktop {
  display: block;
}
.about-products .mobile {
  display: none;
}
.about-products .veg-presentation {
  width: 200%;
}
.about-products .veg-presentation h3 {
  text-align: center;
  margin: 60px 0 10px;
}
.about-products .veg-presentation p {
  padding: 0 50px;
  font-size: 18px;
}

.first {
  padding-top: 80px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.second {
  margin-top: -1px;
  padding-bottom: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

@media only screen and (max-width: 900px) {
  .hero h1 {
    font-size: 30px;
  }

  .hero p {
    font-size: 18px;
  }

  .presentation p {
    margin-bottom: 30px;
    line-height: 25px;
  }

  .first {
    padding-top: 0;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  }

  .second {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }

  .about-products {
    display: block;
  }

  .about-products .veg-presentation {
    width: 100%;
  }

  .about-products .veg-presentation p {
    padding: 10px;
    text-align: center;
    line-height: 30px;
  }

  .about-products .veg-presentation h3 {
    margin-top: 0;
  }

  .about-products .desktop {
    display: none;
  }

  .about-products .mobile {
    display: block;
  }
}
.contact-content {
  padding-bottom: 100px;
  color: #555;
  display: flex;
  font-family: "Lato", sans-serif;
}

.googleMaps {
  margin-top: 20px;
}

.contact-details, .contact-form {
  margin: 100px auto 0;
}

.contact-form {
  margin-top: 40px;
}

.contact-title {
  margin-bottom: 20px;
}

.contact-details p {
  margin-bottom: 50px;
  line-height: 20px;
}

.form-control {
  width: 400px;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: 15px;
  border-bottom: 1px solid #555;
  color: #555;
}

.form-control::placeholder {
  color: #555;
}

.col-control {
  height: 10vh;
}

#myform {
  margin-top: 20px;
}

.form-section input {
  height: 40px;
}

textarea {
  resize: none;
}

.submit {
  padding: 10px 180px;
  background-color: #5dc176;
  color: white;
  border: none;
  letter-spacing: 2px;
}

.contact-title {
  color: #555;
}
.contact-title h3 {
  font-size: 30px;
}
.contact-title p {
  font-size: 16px;
}

@media only screen and (max-width: 850px) {
  .contact-content {
    width: 100%;
    display: inline-block;
  }

  .googleMaps iframe {
    height: 250px;
  }

  .contact-details {
    width: 100%;
    margin: 40px auto;
  }

  .contact-title h3, .contact-title p {
    text-align: center;
    margin: 30px;
  }

  .contact-details p {
    text-align: center;
    margin: 20px;
  }

  .form-control {
    width: 100%;
  }

  .submit {
    padding: 10px 50px;
    background-color: #5dc176;
    color: white;
    border: none;
    width: 100%;
  }

  .contact-form {
    margin: 0 auto;
    padding-top: 20px;
  }

  .form-section input {
    height: 50px;
  }

  #myform {
    margin: 20px;
  }
}
.row {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.form-box {
  margin: 25vh auto 0;
  padding: 50px;
  width: 450px;
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.75);
}

.form-box h1 {
  font-size: 40px;
  border-bottom: 6px solid #5dc176;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #5dc176;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
}

.btn {
  width: 100%;
  background-color: #5dc176;
  border: 1px solid #5dc176;
  padding: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.75);
}
.btn:hover {
  box-shadow: 0px 3px 13px -5px rgba(0, 0, 0, 0.75);
  transform: translateY(3px);
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .row {
    display: block;
  }

  .form-box {
    margin: 20px auto 50px;
    padding: 30px 15px;
    max-width: 370px;
  }

  .form-box .textbox {
    max-width: 100%;
  }

  .btn {
    width: 100%;
  }
}
.center-side {
  margin: 50px auto 40px;
  width: 333px;
}

.center-side li {
  padding: 5px 15px;
  font-size: 18px;
}

.center-side li button {
  padding: 5px 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
}
.center-side li button:hover {
  cursor: pointer;
}

.products {
  margin-top: 50px;
}

.list-group-item {
  margin: 0 auto;
  padding: 5px 10px;
}

.grid-item {
  margin: 0 auto 100px;
}

.product-image {
  margin: 0 auto;
  max-width: 400px;
  height: 200px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item .title {
  color: #666;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-left: 1px solid #5dc176;
  border-right: 1px solid #5dc176;
}

.grid-item .price {
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #5dc176;
  border-right: 1px solid #5dc176;
}

.add {
  display: flex;
}

.val {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  border-top: 1px solid #5dc176;
  border-left: 1px solid #5dc176;
  border-right: none;
  border-bottom: 1px solid #5dc176;
  background: #f2f2f2;
}

.btn1 {
  display: inline-block;
  width: 300%;
  margin: 0;
  background: #5dc176;
  color: white;
  border: 1px solid #5dc176;
  padding: 3px;
  font-size: 18px;
}
.btn1:hover {
  background: white;
  color: #5dc176;
  cursor: pointer;
  transition: 0.2s;
}

.paralax {
  background: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.paralax-second {
  background: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.section-color {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.section-text {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 200px;
}

.section-text h1 {
  width: 50%;
  margin: 0 10px 20px;
  font-size: 60px;
  color: orange;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.section-text p {
  color: white;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.1em;
  margin: 0 10px 30px;
}

.find {
  margin: 20px 10px 0;
  font-size: 14px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.find a:visited {
  color: white;
}

.find:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.section-image {
  margin: 0 auto;
  max-width: 600px;
  height: 700px;
  text-align: center;
  padding-top: 100px;
}

.section-image p {
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

.section-text2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 250px 10px 0;
}

.section-text2 h1 {
  padding: 0 10px;
  font-size: 60px;
  color: orange;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.special {
  padding: 0 10px 10px;
  font-size: 28px;
  color: white;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 0.1em;
}

.section-text2 p {
  padding: 0 10px;
  color: white;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 900px) {
  .paralax {
    width: 100%;
  }

  .paralax-second {
    width: 100%;
    height: auto;
  }

  .section-image {
    height: auto;
    padding: 0;
    margin-bottom: 50px;
  }

  .section-image p {
    font-size: 16px;
  }

  .section-image img {
    width: 30%;
    margin-top: 100px;
  }

  .section-text {
    padding: 10px;
  }

  .section-text h1 {
    margin-top: 20px;
    font-size: 25px;
  }

  .section-text p {
    font-size: 16px;
  }

  .section-color {
    padding: 0 10px;
  }

  .section-text2 {
    padding: 20px;
  }

  .section-text2 h1 {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .special {
    font-size: 18px;
  }

  .section-text2 p {
    font-size: 16px;
    line-height: 1.2em;
  }

  .find {
    padding: 12px;
    font-size: 10px;
  }
}
.tree-section {
  margin: 20px auto;
  max-width: 800px;
  padding: 60px 0;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  max-width: 600px;
  margin: 50px auto 100px;
  text-align: center;
  color: #555;
  text-transform: uppercase;
  font-size: 30px;
}

.section-title i {
  color: #5dc176;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-icon {
  margin: 0 auto;
  width: 100px;
  height: 110px;
}

.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  vertical-align: middle;
}

.user-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #555;
}

.user-price {
  text-align: center;
  font-size: 16px;
  color: #4caf50;
}

@media only screen and (max-width: 900px) {
  .section-title h1 {
    font-size: 35px;
  }
}

/*# sourceMappingURL=app.css.map */
