.paralax {
    background: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.paralax-second {
    background: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    
}

.section-color { 
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);

}

.section-text {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 200px;
}

.section-text h1 {
    width: 50%;
    margin: 0 10px 20px;
    font-size: 60px;
    color: orange;
    text-shadow: 0 3px rgba(0,0,0,.2);
}

.section-text p {
    color: white;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin: 0 10px 30px;
}


.find {
    margin: 20px 10px 0;
    font-size: 14px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.find a:visited {
    color: white;
}

.find:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.section-image {
    margin: 0 auto;
    max-width: 600px;
    height: 700px;
    text-align: center;
    padding-top:100px;
}

.section-image p {
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.3em;

}

.section-text2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 250px 10px 0;
}

.section-text2 h1{
    padding: 0 10px;
    font-size: 60px;
    color: orange;
    text-shadow: 0 3px rgba(0,0,0,.2);
}

.special {
    padding: 0 10px 10px;
    font-size: 28px;
    color: white;
    font-weight: 900;
    line-height: 2em;
    letter-spacing: 0.1em;
}

.section-text2 p {
    padding: 0 10px;
    color: white;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 900px) {
    .paralax {
        width: 100%;
    }
    .paralax-second {
        width: 100%;
        height: auto;
    }
    .section-image {
        height: auto;
        padding:0;
        margin-bottom: 50px;
    }
    .section-image p {
       font-size: 16px;

    }
    .section-image img {
        width: 30%;
        margin-top: 100px;

    }
    .section-text {
        padding:10px;
    }
    .section-text h1 {
        margin-top: 20px;
        font-size: 25px;
    }
    .section-text p {
        font-size: 16px;
    }
    .section-color {
        padding:0 10px;
    }
    .section-text2 {

        padding:20px;
    }
    .section-text2 h1 {
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .special {
        font-size: 18px;
    }
    .section-text2 p {
        font-size: 16px;
        line-height: 1.2em;
    }
    .find {
        padding:12px;
        font-size: 10px;
    }
}
