.contact-content {
  padding-bottom: 100px;
  color: $grey;
  display: flex;
  font-family: $font-family;
}

.googleMaps {
  margin-top: 20px;
}

.contact-details, .contact-form {
  margin: 100px auto 0;
}

.contact-form {
  margin-top: 40px;
}

.contact-title {
  margin-bottom: 20px;
}

.contact-details p {
  margin-bottom: 50px;
  line-height: 20px;
}

.form-control {
  width: 400px;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  margin-bottom: 15px;
  border-bottom: 1px solid $grey;
  color: $grey;
}

.form-control::placeholder {
  color: $grey;
}

.col-control {
  height: 10vh;
}

#myform {
  margin-top: 20px;
}
.form-section input {
  height: 40px;
}

textarea {
  resize: none;
}

.submit {
  padding: 10px 180px;
  background-color: $main-color;
  color: white;
  border: none;
  letter-spacing: 2px;
}

.contact-title {
  color: $grey;

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 850px) {
 .contact-content {
    width: 100%;
    display: inline-block;
  }
  .googleMaps iframe {
    height: 250px;
  }
  .contact-details {
    width: 100%;
    margin: 40px auto;
  }
  .contact-title h3, .contact-title p {
    text-align: center;
    margin:30px;
  }
  .contact-details p {
    text-align: center;
    margin: 20px;
  }
  .form-control {
    width: 100%;
  }
  .submit {
    padding: 10px 50px;
    background-color: $main-color;
    color: white;
    border: none;
    width: 100%;
  }
  .contact-form {
    margin:0 auto;
    padding-top:20px;
  }
  .form-section input {
    height: 50px;
  }
  #myform {
    margin: 20px;
  }
}