.presentation {
    margin: 100px auto 170px;

    h1 {
        text-align: center;
        color: $grey;
    }

    p {
        margin: 15px auto;
        padding: 0 10px;
        max-width: 900px;
        font-size: 18px;
        color: $grey;
    }
}

.about-products {
    display: flex;
    background-color: $main-color;
    color: white;

    .veg-image {
        width: 100%;
        height: 300px;
    }

    .vegs {
        background: url("https://image.flaticon.com/icons/svg/498/498229.svg") center center no-repeat;
        background-size: 150px;
    }

    .fruits {
        background: url("https://image.flaticon.com/icons/svg/1574/1574824.svg") center center no-repeat;
        background-size: 150px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .veg-presentation {
        width: 200%;

        h3 {
            text-align: center;
            margin: 60px 0 10px;
        }

        p {
            padding: 0 50px;
            font-size: 18px;
        }
    }
}

.first {
    padding-top: 80px;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.second {
    margin-top: -1px;
    padding-bottom: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

@media only screen and (max-width: 900px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 18px;
    }

    .presentation p {
        margin-bottom: 30px;
        line-height: 25px;
    }

    .first {
        padding-top: 0;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    }

    .second {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }

    .about-products {
        display: block;
    }

    .about-products .veg-presentation {
        width: 100%;
    }

    .about-products .veg-presentation p {
        padding: 10px;
        text-align: center;
        line-height: 30px;
    }

    .about-products .veg-presentation h3 {
        margin-top: 0;
    }

    .about-products .desktop {
        display: none;
    }

    .about-products .mobile {
        display: block;
    }
}