.row {
	display: flex;
	max-width: 1300px;
	margin: 0 auto;
}

.form-box {
	margin: 25vh auto 0;
	padding: 50px;
	width: 450px;
	box-shadow: $shadow;
}

.form-box h1 {
	font-size: 40px;
	border-bottom: 6px solid $main-color;
	margin-bottom: 50px;
	padding-bottom: 10px;

}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom:1px solid $main-color;
}

.textbox i {
	width: 26px;
	float: left;
	text-align: center;

}

.textbox input {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	width: 80%;
	float: left;
}

.btn {
	width: 100%;
	background-color: $main-color;
	border: 1px solid $main-color;
	padding: 8px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	box-shadow: $shadow;

	&:hover {
		box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.75);
		transform: translateY(3px);
		transition: 0.2s;
	}
}

@media only screen and (max-width: 900px) {
	.row {
		display: block;
	}

	.form-box {
		margin: 20px auto 50px;
		padding: 30px 15px;
		max-width: 370px;
	}

	.form-box .textbox {
		max-width: 100%;
	}

	.btn {
		width: 100%;
	}
}