.center-side {
	margin: 50px auto 40px;
	width: 333px;
}

.center-side li{
    padding: 5px 15px;
    font-size: 18px;
}

.center-side li button {
	padding: 5px 10px;
	background: none;
	border: none;
	border-bottom: 1px solid $light-grey;

	&:hover {
		cursor: pointer;
	}
}

.products {
	margin-top: 50px;
}

.list-group-item {
	margin: 0 auto;
	padding: 5px 10px;
}

.grid-item {
	margin: 0 auto 100px;
}

.product-image {
	margin: 0 auto;
	max-width: 400px;
	height: 200px;
}

.product-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-item .title {
	color: #666;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	border-left: 1px solid $main-color;
	border-right: 1px solid $main-color;
}

.grid-item .price {
	padding: 10px 0;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid $main-color;
	border-right: 1px solid $main-color;
}

.add {
	display: flex;
}

.val{
	display: inline-block;
	width:100%;
	margin: 0;
	padding: 5px;
	text-align: center; 
	border-top:  1px solid $main-color;
	border-left: 1px solid $main-color;
	border-right: none;
	border-bottom:  1px solid $main-color;
	background: #f2f2f2;
  }

.btn1 {
	display: inline-block;
	width: 300%;
	margin: 0;
	background: $main-color;
	color: white;
	border: 1px solid $main-color;
	padding: 3px;
	font-size: 18px;

	&:hover {
		background: white;
		color: $main-color;
		cursor: pointer;
		transition: 0.2s;
	}
}
