.tree-section {
	margin: 20px auto;
	max-width: 800px;
	padding: 60px 0;
}

.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden; 
}

.section-title {
	max-width: 600px;
	margin: 50px auto 100px;
 	text-align: center;
 	color: $grey;
 	text-transform: uppercase;	
 	font-size: 30px;
}

.section-title i {
	color: $main-color;
}

.services-container {
	display : flex;
	flex-wrap: wrap;
	justify-content: center;
}

.service-icon {
	margin: 0 auto;
	width: 100px;
	height: 110px;
}

.service-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center center;
	vertical-align: middle;
}

.user-title {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: $grey;
}

.user-price {
	text-align: center;
	font-size: 16px;
	color: #4caf50;
}

@media only screen and (max-width: 900px) {
	.section-title h1 {
		font-size: 35px;
	}
}